/* IL FAUT MODIFIER LES PARAMETRES DE TAILLES ILS SONT EN PX ET J'AI PAS LES BONNES TAILLES QUI FAUT */

:root {
    --prussian-blue: #0D1635ff;
    --prussian-blue-2: #010C2Cff;
    --cornsilk: #F7F1CFff;
    --lipstick-red: #F01540ff;

    /* texte */
    --text-whit: rgb(227, 227, 227);
    --carbon-black: #1E1B15ff;
}

/* Header */

header {
    background-color: var(--prussian-blue);
    color: var(--text);
    overflow: hidden;
    padding: 14px 10px;
}

header a {
    float: left;
    color: var(--text-whit);
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

.menus {
    float: right;
    padding-right: 20%;
    border: 1px solid black;
}

.menus button:hover {
	color: rgb(255, 221, 0);
    box-shadow: 0 0 10px rgb(255, 217, 0);
}

.menus .categories {
	display: inline-block;
	vertical-align: top;
}

.menus .categories ul {
    display: none;
    padding: 0;
    margin: 0;
    list-style: none;
    position: absolute;
	background-color: rgb(0, 0, 0);
}

.menus .categories ul:hover{
    color: rgb(255, 221, 0);
    box-shadow: 0 0 10px rgb(255, 217, 0);
}

.menus .categories:hover ul {
	display: block;
}


#logo{
    height: 3vh;
    width: auto;
}

/* Body */

body {
	display: block;
	flex-wrap: wrap;
	gap: 20px;
	justify-content: center;
    margin: 0;
    height:100vh;
    width:100%;
    font-family: Arial, Helvetica, sans-serif;
    background: #000000;
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(31, 24, 24, 1) 25%, rgba(19, 30, 79, 1) 50%, rgba(89, 47, 105, 1) 75%, rgba(163, 39, 163, 1) 100%);
    color: var(--carbon-black);
}

*{
    color: white;
}

#logogithub{
    height: 3vh;
}

button{
    text-decoration: none;
	background-color: rgb(0, 0, 0);
    border: none;
    border-radius: 5%;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}



label {
	top: 50%;
	left: 50%;
	width: 280px;
	height: 350px;
	perspective: 1000px;
	transform-style: preserve-3d;
	cursor: pointer;
	display: inline-block;
	margin: 2vw;
	justify-content: center;
	margin-right: 2.5vw;
	margin-left: 2.5vw;
}/* affichage de la carte */

.flip-card {
	position: relative;
	width: 100%;
	height: 100%;
	transform-style: preserve-3d;
	transition: all 0.5s ease-in-out;
	z-index: 1;
	backface-visibility: hidden;
}/* parametre de rotation de la carte */

.flip-card .front,
.flip-card .back {
	position: absolute;
	width: 100%;
	height: 100%;
	text-align: center;
	background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(31, 24, 24, 1) 25%, rgba(19, 30, 79, 1) 50%, rgba(89, 47, 105, 1) 75%, rgba(163, 39, 163, 1) 100%);;
	border-radius: 0 20px 0 20px;
}/* affichage du contenus de la carte front et back */

.flip-card .front {
	transform: rotateY(180deg);
	color: #fff;
	background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(31, 24, 24, 1) 25%, rgba(19, 30, 79, 1) 50%, rgba(89, 47, 105, 1) 75%, rgba(163, 39, 163, 1) 100%);
	backface-visibility: hidden;
}/* parametres de base de rotation de la carte */

label:hover .flip-card {
	transform: rotateY(10deg);
	box-shadow: 0 20px 20px rgba(50, 60, 60, 0.2);
}/* petit effet de mouvement de la carte pour montrer que ça bouge wah trop cool */

input {
	display: none;
}/* si ya pas ça ya une petite box de merde qui pop */

:checked + .flip-card {
	transform: rotateY(180deg);
	backface-visibility: hidden;
}/* pareil que l'autre petit mouvement mais pour l'autre coté */

label:hover :checked + .flip-card {
	transform: rotateY(180deg);
	box-shadow: 0 20px 20px rgba(255, 255, 255, 1);
}/* rotation de la carte  */

.front img {
	width: 110px;
	height: 110px;
	margin: 30px 0 20px 0;
	border-radius: 50%;
}/* taille image front */

.front h1 {
	font-size: 30px;
	color: #499bef;
	margin: 0;
}/* taille titre front */

.front h2 {
	font-size: 18px;
	color: #ffffff;
	margin: 12px 0 12px 0;
}/* taille sous titre front */

.front b {
	font-size: 120%;
	color: #ffffff;
	margin: 0 0 20px 0;
	display: block;
}/* emplacement texte front */

.front p,
.back .click {
	font-size: 18px;
	font-weight: 600;
	color: #1e1e1e;
}/* paragraphe front */

.back h1 {
	color: #ffffff;
	margin: 30px 0 0 0;
}/* titre back */

hr {
	width: 180px;
	margin: 15px auto 10px auto;
}/* lignes de séparation */

.back p {
	font-size: 16px;
	color: #ffffff;
	padding: 0 18px;
	line-height: 30px;
	text-align: center;
	margin: 0 auto;
}/* texte paragraphes back */

.scroll-content {
    height: 70%; /* permet de donner mons de place au texte (je note ça pasque chui con)*/
    overflow-y: auto;   /* scroll vertical */
    padding: 10px;
}











