body{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50%;
}
header{
    height: 10%;
    width: 100%;
    align-self: center;
    background-color: aqua;
    align-content: center;
}
footer{
    width: 100%;
    background-color: brown;
    align-self: center;
}
label {
	display: block;
	top: 50%;
	left: 50%;
	width: 280px;
	height: 350px;
	perspective: 1000px;
	transform-style: preserve-3d;
	cursor: pointer;
}/* affichage de la carte */
label:hover .flip-card {
	transform: rotateY(10deg);
	box-shadow: 0 20px 20px rgba(50, 60, 60, 0.2);
}/* petit effet de mouvement de la carte pour montrer que ça bouge wah trop cool */

input {
	display: none;
}/* si ya pas ça ya une petite box de merde qui pop */

:checked + .flip-card {
	transform: rotateY(180deg);
}/* pareil que l'autre petit mouvement mais pour l'autre coté */

label:hover :checked + .flip-card {
	transform: rotateY(180deg);
	box-shadow: 0 20px 20px rgba(255, 255, 255, 0.2);
}/* rotation de la carte  */
.game{
    background-color: green;
    height: 84vh;
    visibility: visible;
}
.toFind{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    flex-wrap: wrap;
    height: 10vh;
    width: 50%;
    background-color: blueviolet;
}
#cards{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: center;
    flex-wrap: wrap;
    height: 100vh;
    width: 100%;
    background-color: chocolate;
	visibility: hidden;
}
.back p {
	font-size: 16px;
	color: #000;
	padding: 0 18px;
	line-height: 30px;
	text-align: center;
	margin: 0 auto;
}/* texte paragraphes back */
.flip-card {
	position: relative;
	width: 100%;
	height: 100%;
	transform-style: preserve-3d;
	transition: all 0.5s ease-in-out;
	z-index: 1;
}/* parametre de rotation de la carte */
.flip-card .front,
.flip-card .back {
	position: absolute;
	width: 100%;
	height: 100%;
	text-align: center;
	background: #fff;
	backface-visibility: hidden;
	border-radius: 0 20px 0 20px;
}/* affichage du contenus de la carte front et back */

.flip-card .back {
	transform: rotateY(180deg);
	color: #000;
	background: #fff;
}/* parametres de base de rotation de la carte */
.front img {
	width: 110px;
	height: 110px;
	margin: 30px 0 20px 0;
	border-radius: 50%;
}/* taille image front */

.front h1 {
	font-size: 30px;
	color: #499bef;
	margin: 0;
}/* taille titre front */

.front h2 {
	font-size: 18px;
	color: #4e699d;
	margin: 12px 0 12px 0;
}/* taille sous titre front */

.front b {
	font-size: 14px;
	color: #424752;
	margin: 0 0 35px 0;
	display: block;
}/* emplacement texte front */

.front p,
.back .click {
	font-size: 18px;
	font-weight: 600;
}/* paragraphe front */

.back h1 {
	color: #424752;
	margin: 30px 0 0 0;
}/* titre back */
#backgroundImage{
    position: absolute;
    top:20%;
    left:50vh;
    right: 50vh;
    bottom: 80%;
    z-index:0;
    width: 50%;
}
#foregroundImage1{
    top: 57%;
    left:51vh;
    position: absolute;
    z-index:1;
    width:3%;
}
#foregroundImage2{
    top: 88%;
    left:120vh;
    position: absolute;
    z-index:1;
    width:3%;
}
#foregroundImage3{
    top: 47%;
    left:95vh;
    position: absolute;
    z-index:1;
    width:3%;
}
#foregroundImage4{
    top: 45%;
    left:148vh;
    position: absolute;
    z-index:1;
    width:3%;
}
#toFindImage1{
    width:10%;
    visibility: visible;
}
#toFindImage2{
    width:10%;
    
    visibility: visible;
}
#toFindImage3{
    width:10%;
    visibility: visible;
}
#toFindImage4{
    width:10%;
    visibility: visible;
}