.montageJeu {
    background-color: aqua;
    width: 50vw;
    height: 55vh;
}

.montageJeu .carteMere {
    background-color: rgb(0, 139, 139);
    width: 100%;
    height: 80%;
}

.montageJeu .listeComposants {
    background-color: red;
    width: 100%;
    height: 20%;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.montageJeu .carteMere .conteneur {
    background-color: rgb(0, 58, 97);
    width: 5vw;
    height: 5vw;
}

.dragObj {
  position:relative;
  background-color: rgb(117, 0, 0);
  width: 5vw;
  height: 5vw;
}