.friseChronoContainer {
    background-color: #0D1635ff;
    margin-top: 4vh;
    margin-left: 25vw;
    margin-right: 25vw;
    width: 50vw;
    height: 70vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content:center;
}

.friseChronoContainer .scene {
    width: 100%;
    height: 80%;
}

.friseChronoContainer .scene .text {
    font-size: 1em;
    padding-top: 10%;
    text-align: center;
    margin: 4px;
    background-color:rgba(19, 30, 79, 1);
    width: 100%;
    height: 13em;
}

.friseChronoContainer .scene .visual {
    background-color:rgb(0, 255, 13);
    width: 100%;
    height: 10%;
}

.friseChronoContainer .friseChrono {
    background: #A327A3;
    background: radial-gradient(circle, rgba(163, 39, 163, 1) 0%, rgba(0, 0, 0, 1) 100%);
    width: 100%;
    height: 60%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.friseChronoContainer .friseChrono .main {
    background: #A327A3;
    background: radial-gradient(circle, rgba(163, 39, 163, 1) 0%, rgba(0, 0, 0, 1) 100%);
    width: 90%;
    height: 60%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.friseChronoContainer .friseChrono .friseBtn {
    cursor: pointer;
    background-color:rgb(233, 0, 213);
    width: 20%;
    height: 110%;
    border-radius: 100%;
}

.friseChronoContainer .friseChrono .friseBtn p {
    text-align: center;
    padding-top: 20%;
    font-size: 0.75em;
}

.friseChronoContainer .friseChrono .friseBtn:hover {
    transform: scale(1.10);
    color: rgb(255, 221, 0);
    box-shadow: 0 0 10px rgb(255, 255, 255);
}