<!DOCTYPE html>
<html>
    <head>
        <title>Aubus-Saucisse</title>
        <link rel="stylesheet" href="../css/style.css">
        <script type="text/javascript" src="../script/script.js"></script>
    </head>
    <header>
        <p>Haut</p>
    </header>
    <body>
        <div class="game">
            <img id="backgroundImage" src="../../../Ressources/Assets/modifiedClassroom.jpg">
            <img id="foregroundImage1" src="../../../Ressources/Assets/book.png" onclick="carte(1)">
            <img id="foregroundImage2" src="../../../Ressources/Assets/placeholder.png" onclick="carte(2)">
            <img id="foregroundImage3" src="../../../Ressources/Assets/placeholder.png" onclick="carte(3)">
            <img id="foregroundImage4" src="../../../Ressources/Assets/placeholder.png" onclick="carte(4)">
        </div>
        <div class="toFind">
            <img id="toFindImage1" src="../../../Ressources/Assets/book.png">
            <img id="toFindImage2" src="../../../Ressources/Assets/placeholder.png">
            <img id="toFindImage3" src="../../../Ressources/Assets/placeholder.png">
            <img id="toFindImage4" src="../../../Ressources/Assets/placeholder.png">
        </div>
        <div id="cards">
            <label class="label">
                <input type="checkbox" />
                <div class="flip-card">
                    <div class="front">
                        <h1></h1>
                        <h2></h2>
                        <b></b>
                        <p>appuyez pour retourner</p>
                    </div>
                    <div class="back">
                        <h1>DES MACHINS</h1>
                        <hr />
                        <p>truc</p>
                        <hr />
                        <p class="click">appuyez pour retourner</p>
                    </div>
                </div>
            </label>
            <label class="label">
                <input type="checkbox" />
                <div class="flip-card">
                    <div class="front">
                        <h1></h1>
                        <h2></h2>
                        <b></b>
                        <p>appuyez pour retourner</p>
                    </div>
                    <div class="back">
                        <h1>DES MACHINS</h1>
                        <hr />
                        <p>truc</p>
                        <hr />
                        <p class="click">appuyez pour retourner</p>
                    </div>
                </div>
            </label>
            <label class="label">
                <input type="checkbox" />
                <div class="flip-card">
                    <div class="front">
                        <h1></h1>
                        <h2></h2>
                        <b></b>
                        <p>appuyez pour retourner</p>
                    </div>
                    <div class="back">
                        <h1>DES MACHINS</h1>
                        <hr />
                        <p>truc</p>
                        <hr />
                        <p class="click">appuyez pour retourner</p>
                    </div>
                </div>
            </label>
            <label class="label">
                <input type="checkbox" />
                <div class="flip-card">
                    <div class="front">
                        <h1></h1>
                        <h2></h2>
                        <b></b>
                        <p>appuyez pour retourner</p>
                    </div>
                    <div class="back">
                        <h1>DES MACHINS</h1>
                        <hr />
                        <p>truc</p>
                        <hr />
                        <p class="click">appuyez pour retourner</p>
                    </div>
                </div>
            </label>
        </div>
    </body>
    <footer>
        <p>Bas</p>
    </footer>
</html>