/* --------------------------------- Palettes de couleurs --------------------------------- */

:root {
    --prussian-blue: #0D1635ff;
    --prussian-blue-2: #010C2Cff;
    --cornsilk: #F7F1CFff;
    --lipstick-red: #F01540ff;

    /* texte */
    --text-whit: rgb(227, 227, 227);
    --carbon-black: #1E1B15ff;
}

/* --------------------------------- Principal --------------------------------- */
html body {
    text-align: center;
    width: 100vw;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background: #000000;
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(31, 24, 24, 1) 25%, rgba(19, 30, 79, 1) 50%, rgba(89, 47, 105, 1) 75%, rgba(163, 39, 163, 1) 100%);
    color: white;
}

#logobts{
    width: 3vw;
    height: auto;
}

#equipe{
    text-align: center;
}


/* --------------------------------- Composants --------------------------------- */
#start {
    border:0px;
    height: 30vh;
    background-color: rgb(0, 0, 0);
    color: white;
    text-decoration: none;
}
#start:hover {
    color: rgb(255, 221, 0);
    box-shadow: 0 0 10px rgb(255, 217, 0);
}

/* --------------------------------- Parametres --------------------------------- */
h1 {
    color: white;
    font-size: 5em;
}