
/* --------------------------------- Palettes de couleurs --------------------------------- */

:root {
    --prussian-blue: #0D1635ff;
    --prussian-blue-2: #010C2Cff;
    --cornsilk: #F7F1CFff;
    --lipstick-red: #F01540ff;

    /* texte */
    --text-whit: rgb(227, 227, 227);
    --carbon-black: #1E1B15ff;
}

/* --------------------------------- Principal --------------------------------- */
html body {
    margin: 0;
    height: 100vh;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background: #000000;
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(31, 24, 24, 1) 25%, rgba(19, 30, 79, 1) 50%, rgba(89, 47, 105, 1) 75%, rgba(163, 39, 163, 1) 100%);
    color: white;
}

#logo{
    height: 3vh;
    width: auto;
}

#logogithub{
    height: 3vh;
}

/* --------------------------------- Header --------------------------------- */

header {
    background-color: var(--prussian-blue);
    color: var(--text);
    overflow: hidden;
    padding: 14px 10px;
}

header a {
    float: left;
    color: var(--text-whit);
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

.menus {
    float: right;
    padding-right: 20%;
    border: 1px solid black;
}

.menus button:hover {
	color: rgb(255, 221, 0);
    box-shadow: 0 0 10px rgb(255, 217, 0);
}

.menus .categories {
	display: inline-block;
	vertical-align: top;
}

.menus .categories ul {
    display: none;
    padding: 0;
    margin: 0;
    list-style: none;
    position: absolute;
	background-color: rgb(0, 0, 0);
}

.menus .categories ul:hover{
    color: rgb(255, 221, 0);
    box-shadow: 0 0 10px rgb(255, 217, 0);
}

.menus .categories:hover ul {
	display: block;
}


#logo{
    height: 3vh;
    width: auto;
}


/* --------------------------------- Footer --------------------------------- */
footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--prussian-blue);
    color: var(--text-whit);
    text-align: center;
    padding: 14px 10px;
}

/* --------------------------------- Composants --------------------------------- */
button {
    background-color: rgb(0, 0, 0);
    border: none;
    border-radius: 5%;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.Accueil {
    background-color: var(--prussian-blue-2);
    color: var(--cornsilk);
    height: 600px;
}


/* --------------------------------- Parametres --------------------------------- */

.center-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}


.friseChronoContainer {
    background-color: #0D1635ff;
    margin-top: 1vh;
    margin-left: 25vw;
    margin-right: 25vw;
    width: 50vw;
    height: 50vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content:center;
}

.friseChronoContainer .scene {
    width: 100%;
    height: 80%;
}

.friseChronoContainer .scene .text {
    padding-top: 10%;
    text-align: center;
    margin: 4px;
    background-color:rgba(19, 30, 79, 1);
    width: 100%;
    height: 90%;
}

.friseChronoContainer .scene .visual {
    background-color:rgb(0, 255, 13);
    width: 100%;
    height: 10%;
}

.friseChronoContainer .friseChrono {
    background-color:rgb(61, 0, 56);
    width: 100%;
    height: 60%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.friseChronoContainer .friseChrono .main {
    background-color:rgb(255, 0, 234);
    width: 90%;
    height: 60%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.friseChronoContainer .friseChrono .friseBtn {
    cursor: pointer;
    background-color:rgb(255, 143, 246);
    width: 20%;
    height: 110%;
    border-radius: 100%;
}

.friseChronoContainer .friseChrono .friseBtn p {
    padding-top: 20%;
}