.friseChronoContainer {
    background-color: aqua;
    width: 50vw;
    height: 50vh;

    display: flex;
    flex-direction: column;
    justify-content:flex-start;
}

.friseChronoContainer .scene {
    width: 100%;
    height: 80%;
}

.friseChronoContainer .scene .text {
    background-color:blue;
    width: 100%;
    height: 30%;
}

.friseChronoContainer .scene .visual {
    background-color:rgb(0, 255, 13);
    width: 100%;
    height: 70%;
}

.friseChronoContainer .friseChrono {
    background-color:rgb(61, 0, 56);
    width: 100%;
    height: 20%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.friseChronoContainer .friseChrono .main {
    background-color:rgb(255, 0, 234);
    width: 90%;
    height: 60%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.friseChronoContainer .friseChrono .friseBtn {
    cursor: pointer;
    background-color:rgb(255, 143, 246);
    width: 8%;
    height: 90%;
    border-radius: 100%;
}